/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    right: 0px;
    width: 36px;
    height: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #3f229c;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #6b21a8;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #3f229c;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    top: 0;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #94a3b8;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: block;
    margin-bottom: 14px;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
